@model ErrorViewModel
@{
    ViewData["Title"] = "AccessDenied";
}
<br>
<br>
<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">You don't have a permittion to get there.</h2>

@if (Model!=null)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

