@model List<string>
@if (Model != null && Model.Count > 0)
{
    <table class="alert" style="width: 100%; background-color:lightpink">
        <tbody>
            <tr>
                <td style="padding:5px;">
                    <img src="~/icons/sign-error-icon.png" width="30" height="30" style="border-width:0px;" alt="Ошибка">
                </td>
                <td align="left" style="font-weight:bold;width:100%;padding:5px; text-align : left">                                    
                  
                        @foreach (var line in Model)
                        {
     <p>@line</p>
                        }
                </td>
            </tr>
        </tbody>
    </table>
}
